<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传作业</title>
<style type="text/css">

</style>
</head>
<body>
<form action="#">
    <span>题目：</span><input type="text" name="topic"><br>
    <span>题目分值：</span><input type="text" name="point"><br>
    <span>难易级别：</span>
     <input type='radio' name='test2' id='easy'/>
    <label for='test2' class>简单</label>
    <input type='radio' name='test2' id='normal'/>
    <label for='test2' class>标准</label>
    <input type='radio' name='test2' id='difficulty'/>
    <label for='test2' class>困难</label><br>
    <span>选择课程：</span>
    <input type='radio' name='test3' id='easy'/>
    <label for='test2' class>python</label>
    <input type='radio' name='test3' id='normal'/>
    <label for='test2' class>全栈</label>
    <input type='radio' name='test3' id='difficulty'/>
    <label for='test2' class>Java</label>
    <p>备选项:</p>
    <input type="text" name="A"><br>
    <label for='test1' class><input type="text" name="B"></label><br>
    <label for='test1' class><input type="text" name="C"></label><br>
    <label for='test1' class><input type="text" name="D"></label><br>
    <span>正确答案</span><input type="text" name="answer">
    <input type="submit" value="上传试题">
</form>

</body>
</html>